<!DOCTYPE html>
<html lang="en" ><head>

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.reject.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.reject.options.js"></script>
	


	<!-- Basic Page Needs
  ================================================== -->

	<meta name="description" />
	<meta name="author" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="shortcut icon" href="" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" type="text/css" href="/static/css/estilos.css" />
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	
	<title>SIGE</title>
	</head>
	<body>
	<div id="antorcha"></div>
	<div id="bandera"></div>

	<header>
		<a href="http://www.unicauca.edu.co" id="logoU"></a>
		<p class="separador"></p>
		<p id="desc">Sistema Integrado de gestión de electivas</p>
	</header>

	<div class="container">
		<div id="general">


			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<img class="logo_sige" src="/static/img/sige_logo.png" alt="">
						<p>Iniciar sesion</p>
					</div>

					<div class="login-form">
					{% block content %}
					<form action="{% url 'login' %}" method="post">
						{% csrf_token %}
						<div class="control-group">
						<input id="id_username" type="text" class="login-field" value="" name="username" placeholder="username"  required>
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
							<input type="password" class="login-field" value="" name="password" placeholder="password" id="id_password" required>
							<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>
						{% if form.errors %}
							<p  style="color:#FF0000";>Usuario o contraseña incorrecta. Intentelo de nuevo</p>
						{% endif %}

						{% if next %}
							{% if user.is_authenticated %}
							<p>Your account doesn't have access to this page. To proceed,
							please login with an account that has access.</p>
						{% else %}
							<p>Please login to see this page.</p>
							{% endif %}
						{% endif %}
						<button class="btn btn-primary btn-large btn-block" type="submit" name="submit">
							login
						</button>
					</form>

					<a class="login-link" href="{% url 'password_reset' %}">Lost your password?</a>
					{% endblock content %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>2019  | Grupo de trabajo Dragones Infernales  <br />
			<a href="http://www.unicauca.edu.co">Universidad del Cauca</a>  | Versión: 1.0  <br /><span style="display: none"></span>
		</p>
	</footer>



	</body>
</html>
