<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secretaria</title>
</head>
<body>
    <h1>Bienvenida a la secretaria</h1>
    <p>Aquí esta la lógica</p>

    {% block content %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-large btn-block" type="submit" name="submit">
            logout
        </button>
    </form>
    {% endblock content %}
</body>
</html>
